<head>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<style>
#mapid { height: 100%; }

</style>
<body>

<input type="submit" id="mysubmit" name="submit_button" value="Indsend svar">

<div id="mapid"></div>

</body>

<script>

var mymap = L.map('mapid').setView([55.70126,12.56752], 16);

/*var wmsLayer = L.tileLayer.wms('http://gwc-kort-kk.spatialsuite.dk/service/wms?', { layers: 'theme-startkort'}).addTo(mymap);
*/
L.tileLayer('https://api.mapbox.com/styles/v1/emilrasmussen/cih6nmdcf00e8bpkr7k1tu1ny/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiZW1pbHJhc211c3NlbiIsImEiOiJjaWg2bmQ2cmIwMzR3dWprbGJkbnl3cjl0In0.obT--pzMzpPZohP1fvvOKg', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(mymap)

newMarkerGroup = new L.LayerGroup()
mymap.on('click', addMarker);

function addMarker(e){
// Add marker to map at click location; add popup window
var newMarker = new L.marker(e.latlng,{draggable: true}).addTo(mymap);
newMarker.addTo(newMarkerGroup);
}

$("#mysubmit").click(function(){
/* document.getElementById('geojson').value = newMarkerGroup.toGeoJSON() */
myfeatures = newMarkerGroup.toGeoJSON()
jQuery.each(myfeatures.features, function(data) {
	console.log(myfeatures.features[data].geometry.coordinates)
})
})
</script>
