{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- <input type="text" id="dates"/> --><input style="display: none;"  type="text" id="max"/><input style="display:none"  type="text" id="min">

<table class="table table-striped table-bordered">
 <thead>
  <tr>
   <th scope="col">#</th>
   <th scope="col">Index</th>
   <th scope="col">Eksempel</th>
   <th scope="col">Cloud <span id="cloudycloud" class="badge badge-pill badge-info">i</span></th>
   <th scope="col">Ingestion date <span class="fas fa-calendar-alt" id="dates"></span><span id="ingdat" class="badge badge-pill badge-info float-right">i</span></th>
   <th scope="col">End position <span id="endpos" class="badge badge-pill badge-info">i</span></th>
   <th scope="col">Select</th>
   <th scope="col">In db?</th>
  </tr>
 </thead>
 <tbody>
{% for data in metadata %}
  <tr>
   <th scope="row">{{loop.index}}</th>
    <td class="index_no">{{data[0]}}</td>
    <td>{% if data[3] %}<img heigth="128px" width="128px"  src="{{ url_for('static', filename=data[3]) }}"></img>{% else %}{% endif %}</td>
    <td>{{data[1]}}</td>
    <td>{{data[4]}}</td>
    <td>{{data[2]}}</td>
    <td><button type="button" class="select btn btn-secondary">Vælg</button></td>
    <td>{% if data[5] == True %}<span style="height:64px;" class="far fa-check-square"></span>{% else %}{% endif %}</td>
  </tr>
{% endfor %}
 </tbody>
</table>
<footer style="width: 100px; left: 30%" class="fixed-bottom">
		<form action="{{ url_for('download_image') }}" method="post">
		<input id="inputField" style="visibility:hidden" type="text" name="indexFiles">
		<input type="submit" id="dl_files" class="btn btn-warning"></button></td>
		</form>
</footer>

{% endblock %}

{% block myscript %}

<script>
table = $(".table").DataTable();
   
$("cloudycloud").popover({content: "Only showing images with less than 30 % clouds - as classified by ESA", trigger:"hover"});
$("#endpos").popover({content: "The sensing start and stop times of a product correspond to the time of the satellite on-board acquisition of respectively the first and last line of the image in the product",trigger: "hover"});
$("#ingdat").popover({content: "Please note that the ingestion date does not correspond to the generation date of the product processed at the ground segment. The ingestion date is the date of publication of the product on the Data Hub rolling archive.", trigger:"hover"})

$(".table").on('click', ".select", function() {
	$(this).toggleClass("btn-secondary")
	$(this).toggleClass("btn-success")
});

$("#dl_files").click(function() {
	my_array = []
	$(".btn-success").parent().parent().children(".index_no").each(function(key,value){my_array.push(value.innerHTML)})
	console.log(my_array)
	console.log("142.93.97.60:5000/download/" + my_array.toString())
	$("#inputField").val(my_array)
});

$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min  = $('#min').val();
        var max  = $('#max').val();
        var createdAt = data[4] || 0; // Our date column in the table

        if  ( 
                ( min == "" || max == "" )
                || 
                ( moment(createdAt).isSameOrAfter(min) && moment(createdAt).isSameOrBefore(max) ) 
            )
        {
            return true;
        }
        return false;
    }
);

// Re-draw the table when the a date range filter changes
$('#dates').daterangepicker({
	autoUpdateInput: false,
	locale: {
		cancelLabel: 'Clear'
	}
	}, function(start, end, label) {
		$("#max").val(end.format('YYYY-MM-DD'))
		$("#min").val(start.format('YYYY-MM-DD'))
});

$('#dates').on('apply.daterangepicker', function(ev, picker) {
	table.draw()
});

</script>

{% endblock %}
