{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
<h1>Active</h1>
	{% if active|length < 1 %}
		<div class="col">No active tasks</div>
	{% else %}
		{% for element in active.items() %}
		<div class="col">{{element}}</div>
		{% endfor %}
	{% endif %}

<h1>Registered</h1>
{% for element in registered.items() %}
       <div class="col">{{element}}</div>
{% endfor %}

<h1>Scheduled</h1>
	{% if scheduled|length < 1 %}
                <div class="col">No active tasks</div>
        {% else %}
                {% for element in active.items() %}
                <div class="col">{{element}}</div>
                {% endfor %}
	{% endif %}
</div>

<script>


</script>
{% endblock %}
